body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.weather-app {
  background: linear-gradient(
    123.5deg,
    rgb(244, 219, 251) 29.3%,
    rgb(255, 214, 214) 67.1%
  );
  display: block;
  border-radius: 20px;
  margin: 60px auto;
  max-width: 500px;
  height: 580px;
  padding: 35px;
  box-shadow: 0 15px 25px #fbd0f5;
  border: 4px solid #fff;
}
.search-input {
  background: rgb(242, 242, 242, 0.5);
  border: none;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
}
.search-button {
  background: #dcd6f7;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
}
main {
  padding-bottom: 20px;
}
h1 {
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
}
.current-details {
  display: flex;
  font-size: 18px;
  line-height: 1;
}
.current-detail-value {
  color: #6a2286;
  font-weight: bolder;
}
.date {
  position: relative;
  top: -24px;
  left: 330px;
}
.condition {
  position: relative;
  top: 55px;
  left: 220px;
}
.humidity {
  position: relative;
  bottom: -30px;
  left: 108px;
}
.wind-speed {
  position: relative;
  top: 4px;
  left: -10px;
}
.current-temperature {
  font-size: 80px;
  display: flex;
}
.temp-icon {
  position: relative;
  bottom: 60px;
  left: 40px;
}
.temp-value {
  position: relative;
  bottom: 60px;
  left: 40px;
}
.temp-unit {
  font-size: 27px;
  position: relative;
  bottom: 56px;
  left: 40px;
}
ul {
  list-style-type: none;
  font-size: 21px;
  line-height: 1.5;
}
li {
  text-align: center;
  display: inline-block;
  padding: 10px;
}
footer {
  border-top: 1px solid #8ec5fc;
  font-family: monospace;
  padding-top: 8px;
  font-size: 12px;
  text-align: center;
}
